@mixin formulario {
    width: calc(100% - 10px);
    margin: 5px;
}
@mixin carrusel_width{
    height: 500px;
    width: 100%;
}
@mixin precios{
    margin-left: 3px;
    width: 30%;
    border: solid 2px $borde;
}
@mixin btn_width {
    width: calc(100% - 60px);
}