$fuente:Arial, Helvetica, sans-serif;
$principal_fondo:lightgray;
$cabezera_fondo:white;
$fondo:lightgray;
$borde:black;
$descripcion_fondo:black;
$descripcioin_texto:white;
$btn_precio:red;
$btn_filtrado:white;
$filtrado_letras:black;
$btn_mensaje:red;
$mensaje_letras:white;
$degradado:linear-gradient(90deg, rgba(0,36,23,1) 0%, rgba(0,212,255,1) 61%);